body {
  font-family: 'PT Sans', sans-serif;
}

p {
  font-weight: bold;
  font-family: 'Cardo', serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.25;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

h3 {
  font-weight: bold;
  color: #105e62;
}

.container-fluid {
  padding: 3% 15% 0;
}

#title {
  /* background-color: #a2eae2; */
  color: #105e62;
}

.brand-logo {
  width: 20%;
  margin-right: 3%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  width: 50%;
}

.title-img {
  width: 100%;
}

.order-btn {
  margin: 5% 3% 5% 0;
}

/* Features Section */

#features {
  background-color: #a2eae2;
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-box p {
  color: #555555;
}

.icon {
  color: #41aaa8;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #105e62;
}

#portfolio {
  text-align: center;
  padding: 7% 15%;
}
